h2 {
  background-color: pink;
}

a {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.line-through {
  text-decoration: line-through;
}

.shadow-basic {
  font-size: 36px;
  color: #4a90e2;
  text-shadow: 2px 2px 2px #4a90e2;
}

.shadow-reverse {
  font-size: 36px;
  color: #4a90e2;
  text-shadow: -2px -2px 2px;
}

button {
  background-color: #e94e77;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  text-shadow: 1px 1px 10px #000000;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.full-width {
  text-transform: full-width;
}

.letter-spacing {
  letter-spacing: 8px;
}

.word-spacing {
  word-spacing: 8px;
}

.pixel {
  text-indent: 20px;
}

.percent {
  text-indent: 20%;
}

.nowrap {
  white-space: nowrap;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.overflow2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
