body {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
  background-color: aquamarine;
}

div {
  height: 100px;
  border: 1px solid black;
  display: flex;
  /* 버튼 수평 수직 정렬 */
  align-items: center;
  justify-content: space-evenly;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}

#self {
  /* 해당 콘텐츠를 기본 축의 가장자리에 위치 */
  /* align-self: flex-end; */
  order: 0;
}

#btn2 {
  order: 2;
}

#btn3 {
  order: 4;
}

#btn4 {
  order: 3;
}


