/* Georgia가 없는 경우 차선으로 Times New Roman으로 찾는 목적 */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* '맑은 고딕', 돋움, 굴림 ; */

.one {
  font-size: xx-small;
}

.two {
  font-size: 130%;
  font-style: italic;
}

.three {
  font-size: 12px;
  font-weight: 900;
}

.four {
  font-size: 16px;
  font-style: oblique;
}