body {
  width: 100%;
  max-width: 2200px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  letter-spacing: -1px;
}

.header-wrap {
  display: flex;
  justify-content: center;
}

.sidebars-wrap {
  display: flex;

}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.maincontents a {
  color: white;
}

a.hover {
  text-decoration: none;
}

.b {
  font-weight: bold;
}

.b>ul>li>ul>li {
  font-weight: 400;
}

.indent {
  margin-left: 8px;
}

.navbar {
  display: flex;
  flex-flow: row;
}

.maininner {
  background-color: rgb(238, 238, 238);
}

.mainrow01 {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin: 25px 20px 20px;
  padding: 20px;
}

.maincol01 {
  color: white;
  width: 260px;
  height: 260px;

}

.bgc01 {
  background-color: lightblue;
  grid-column: 1 / 2;
}

.apptxt,
.login-wrap {
  padding: 10px 20px;
}

.btnwrap01 {
  margin: 40px 0px 0px 40px;
  border-collapse: collapse;
  padding: 10px;
}

.mainbtn01 {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
  margin: 0;
}

h3 {
  font-size: 20px;
}



.divider {
  font-size: 18px;
  color: grey;
}

.bgc02 {
  background-color: rgb(61, 61, 255);
}

.bgc03 {
  background-color: rgb(16, 135, 16);
}

.stxt01 {
  font-size: 14px;
}

.logbd,
.logbd>div>a {
  border: 2px solid (61, 61, 255);
  background-color: white;
  color: black;
}

.maincol02 {
  background-color: white;
  color: black;
  width: 480px;
  height: 200px;
  padding: 25px 30px 30px;
}

.searchwrap {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-image: url(/Practice/Hospital/images/bg_search2022_10_05.jpg);
}

.boardwrap {
  color: black;
  display: flex;
  flex-direction: row;
  grid-column: 3 / 5;
}

.hotissuewrap {
  grid-column: 1 / 3;
  float: inline-start;
}


.bgc04 {
  background-color: aquamarine;
  grid-column: 3 / 4;
}

.bgc05 {
  background-color: darkcyan;
  grid-column: 4 / 5;
}