<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Grid</title>
  <link rel="stylesheet" href="styles/b_grid02.css">
</head>
<body>
  <!--  
    CSS Writing Modes: left to right
    ! CSS item 속성: 시작 라인과 끝 라인을 지정하여 각각의 라인에 따라 사물을 정렬
      ? grid-column-start | end
      : 아이템이 그리드의 어느 열에서 시작하고 끝날 것인지 지정
        ? 숫자(그리드 라인 번호)
      ? grid-row-start | end
      : 아이템이 그리드의 어느 행에서 시작하고 끝날 것인지 지정
        ? 숫자(그리드 라인 번호)
      ! grid-column | row로 start, end 둘 다 사용 할 수 있음
        : 라인 번호를 값으로 사용 
          ! 그리드는 1부터 시작
      : 약칭으로 사용 시 /로 구분하여 지정
      ex. grid-column: 1 / 3;
        : 마지막 열 | 행 라인을 -1 값으로 지정 가능

      ! grid-template-areas: 위치 설정
        : 디자인의 다양한 요소에 이름을 지정
    
      ! CSS 그리드의 그리드 프레임 워크: 그리드는 주로 12열 또는 16열의 그리드를 기반으로 사용
  -->

  <div class="container">
    <header>
      This is my blog.
    </header>
    <article>
      <h1>My article</h1>
      <p>
        This is chapter 01.<br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charge of defrense plays with the catcher (catcher) who receives the pitcher's ball..
      </p>
      <p>
        This is chapter 02.<br />
        Shortstop should have excellent quicklness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortsotp position.
      </p>
    </article>
    <aside>
      <p>
        This is an aside.<br />
        When viewed from home plate, it refers to the outfielder on the right side of the field. In English, it is called Light Fielder. The position number of the right field is 9. Since right fielders are the fartest to theird base among outfielders, it is common for the strongest shoulder among outfielders to be disployed to perform wall in throwing to third base.
      </p>
    </aside>
    <footer>Contact me: asdas@gmail.com</footer>
  </div>
</body>
</html>