<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS Layout - Grid</title>
  <link rel="stylesheet" href="styles/c_grid03.css">
</head>
<body>
  
  <div class="container">
    <header>
      This is my blog.
    </header>
    <article>
      <h1>My article</h1>
      <p>
        This is chapter 01.<br />
        It refers to a player who plays the role of throwing a ball to a batter in a baseball game. The team in charge of defrense plays with the catcher (catcher) who receives the pitcher's ball..
      </p>
      <p>
        This is chapter 02.<br />
        Shortstop should have excellent quicklness and excellent throwing ability. And place a player with a wide range of defense and excellent sense in the shortsotp position.
      </p>
    </article>
    <aside>
      <p>
        This is an aside.<br />
        When viewed from home plate, it refers to the outfielder on the right side of the field. In English, it is called Light Fielder. The position number of the right field is 9. Since right fielders are the fartest to theird base among outfielders, it is common for the strongest shoulder among outfielders to be disployed to perform wall in throwing to third base.
      </p>
    </aside>
    <footer>Contact me: asdas@gmail.com</footer>
  </div>


  <!-- ! f12 개발자 도구에 grid 참조 -->
</body>
</html>