/* 자식 요소가 단 하나만 있는 경우 */
li:only-child {
  background-color: #e0e0e0e0;
}

/* 특정 타입의 요소가 단 하나만 있는 경우 */
li:only-of-type {
  font-weight: bolder;
  text-decoration: underline;
}

/* 첫 번쨰 자식 요소 */
li:first-child {
  color: red;
}

/* 마지막 자식 요소 */
li:last-child {
  text-decoration: line-through;
}

/* 특정 타입의 첫 번쨰 자식 요소 */
p:first-of-type {
  font-style: italic;
}

/* 특정 타입의 마지막 자식 요소 */
p:last-of-type {
  text-decoration: overline;
}

/* n번쨰 자식 요소 */
li:nth-child(3) {
  background-color: bisque;
}

/* n번쨰 타입 요소 */
span:nth-of-type(2) {
  color: chocolate;
}

/* ---------------------------------------------- */
/* 가상 요소 선택자 예제 */

/* 섹션 제목 앞 뒤로 장식 추가 */
.section-title::before, .section-title::after, .section p::first-letter {
  content: "###";
  color: aqua;
  margin: 10px;
}

/* 섹션의 마지막 문단에 문자 추가 */
.section p:last-of-type::after, .section p::last-line {
  content: "■";
  color: yellow;
}