.container > div {
  border: 2px solid black;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
}

.container {
  display: grid;
  /* 200px 열 3개 추가 */
  /* grid-template-columns: 200px 200px 200px; */
  /* 1fr 가변길이 트랙 생성 */
  /* grid-template-columns: 1fr 2fr 1fr 100px;
  /* 모든 열과 행에 20px 만큼 공간 */
  /* gap: 20px; */
  
  /* repeat() 사용 예시 */
  /* 200px인 열 6개 사용 말고 */
  grid-template-columns: repeat(4, 100px);
}